body {
  background-image: url("../image/PolarExpress.jpg");
  background-color: rgb(38, 90, 141);
}

h1 {
  background-color: rgb(77, 106, 160);
}

#heading {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#subHeading {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

th {
  font-weight: bold;
}

.panel-title {
  font-weight: italic;
  border-color: blue;
}

h2 {
  color: blueviolet;
}

div {
  color: blueviolet;
}

th {
  color: blueviolet;
}
